@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root{
  --Light-red: hsl(356, 100%, 66%);
--Very-light-red: hsl(355, 100%, 74%);
--Very-dark-blue: hsl(208, 49%, 24%);
--White:hsl(0, 0%, 100%);
--Grayish-blue:hsl(240, 2%, 79%);
--Very-dark-grayish-blue: hsl(207, 13%, 34%);
--Very-dark-black-blue: hsl(240, 10%, 16%);
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body{
  font-family: 'Overpass', sans-serif;
  width:100%;
  background-color:rgb(237, 226, 237);
}

a{
  cursor: pointer;
  color:#fff;
  text-decoration: none;
}

.hamburger,
.mobile-editor,
.mobile,
.dark,
.small,
.close{
  display:none;
}

.header{
  background-image:url(images/bg-pattern-intro.svg);
  background-size:140%;
  background-repeat: no-repeat;
  background-position:center;
  background-color:hsl(356, 100%, 66%);
  border-bottom-left-radius: 100px;
  width:100%;
  text-align: center;
  color:#fff;
  padding:30px 0;
}


.header .navbar{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:20px 0;
}

.header .navbar ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header .navbar ul nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar ul .logo{
  margin:0 50px 0 0;
}

.header .navbar ul li{
  margin: 0 0 0 20px;
}

.header .navbar ul li img{
  margin:0 0 0 5px;
  transition: transform 3s;
}

.header .navbar ul li:hover img{
  transform: rotate(-180deg);
}


.header .navbar ul li ul li a{
  color:#000;
  margin:20px 0 0;
}

.header .navbar ul li ul{
  display:none;
  position: absolute;
  margin:5px 20px 0 0px;
  background-color: #fff;
  font-size:18px;
  font-weight:500;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding:30px 30px 30px 0px;
  border-radius:5px;
  box-shadow: 0 8px 12px black;
  transition: display 2s;
}

.header .navbar ul li:hover ul{
  display:block;
}

.header .navbar ul li ul li{
  transition: font-weight 2s;
}


.header .navbar ul li ul li:hover{
  font-weight:600;
}

.header .navbar  small button{
  padding:15px 35px;
  border-radius:40px;
  margin:0 5px;
  outline:none;
  border:none;
  background-color: #fff;
  color:hsl(356, 100%, 66%);
  font-weight:600;
  transition:background-color 2s;
}

.header .navbar small button:first-child{
  padding:15px 30px;
  background-color: transparent;
  color: #fff;
}

.header .navbar small button:last-child:hover{
  background-color:hsl(356, 100%, 77%);
  color:#fff;
}

.header h3{
  padding:70px 0 20px 0;
  font-size:50px;
  font-weight: 600;
}

.header p{
  font-size:20px;
  margin:0 0 30px 0;
  color:var(--Grayish-blue);
}

.header button{
  padding:15px 30px;
  border:2px solid #fff;
  outline:none;
  border-radius:30px;
  margin:0 0 50px 10px;
  font-weight: 600;
  background-color: #fff;
  color:hsl(356, 100%, 77%);
}

.header button:last-child{
  color:#fff;
  background:transparent;
  border:2px solid hsl(356, 100%, 77%);
}


/* THIS SECTION CONTAIN THE FIRST ARTICLE DESIGN AREA */

article{
  text-align: center;
  background-color:rgb(237, 226, 237);
  padding:50px 0 20px;
  /* border:2px solid black; */
  z-index:3;
  position: relative;
}

article h3{
  font-size:25px;
  font-weight: 600;
  position: relative;
  top:7vw;
  color:var(--Very-dark-blue);
}

article section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 0 0 30px;
  overflow-x: hidden;
  position: relative;
  
}

article section img{
  position: relative;
  right:-240px;
}

article section div{
  position: relative;
  left:7%;
  text-align: left;

}
article section h4{
  margin:20px 0 30px 0;
  font-size:22px;
  font-weight:600;
  color:var(--Very-dark-blue);
}

article section div .h4{
  margin:50px 0 20px 0;
}

article section p{
  margin:10px 0 10px 0;
  font-size:12px;
  line-height: 1.5rem ;
  font-weight: 600;
  color:var(--Very-dark-blue);
}

/* THIS SECTION CONTAIN THE SECOND ARTICLE DESIGN AREA WHICH INCLUDE MOBILE PHONE IMAGE  */

.article{
  display: flex;
  justify-content: center;
  align-items: center;
}

.article img{
  position: absolute;
  left:5%;
  z-index: 3;
}

.article .circle{
  position: absolute;
  left:-230px;
  top:900px;
  z-index: 1;
}

.article section{
  background-color: var(--Very-dark-blue);
  width:100%;
  background-image: url();
  background-repeat: no-repeat;
  background-position:left bottom;
  padding:80px 150px 40px 700px;
  border-radius: 0 100px 0 100px;
}

.article section h3{
  color:#fff;
  font-size:35px;
  font-weight: 600;
  padding:50px 0 30px 0;
}

.article section p{
  color:var(--Grayish-blue);
  line-height: 1.5rem;
  font-weight: 600;
  padding:10px 0 30px 0;
}

/* THIS SECTION CONTAIN THE third ARTICLE DESIGN AREA WHICH INCLUDE  LAPTOP */

.section{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(237, 226, 237);
  z-index:2;
  position: relative;
  padding:100px 0 30px;
}

.section img{
  position: relative;
  left:-280px;
}

.section .container{
  position: relative;
  right:220px;
}
.section .container h4{
  margin:30px 0 20px 0;
  font-size:22px;
  font-weight:600;
  color:var(--Very-dark-blue);
}

.section .container p{
  font-size: 13px;
  font-weight: 600;
  line-height:1.5rem;
  color:var(--Very-dark-blue);
}

  /* FOOTER */

footer{
  display:flex;
  justify-content: space-around;
  align-items: top;
  background-color:var(--Very-dark-black-blue);
  color:#fff;
  padding:50px 40px;
  border-radius:0 100px 0 0;
}

footer h5{
  font-size:18px;
  font-weight:600;
  margin:0 0 30px;
}

footer ul li{
  margin:0 0 10px;
  list-style: none;
}

@media screen and (max-width:480px){
  html{
    overflow-x: hidden;
  }

  body{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  /* nav ul li, */
  small,
  .desktop-editor,
  .laptop,
  .light,
  .close{
    display: none;
  }

  .nav{
    visibility:hidden;
  }

  .header ul .nav{
    position: absolute;
    flex-direction: column;
    top:100px;
    color:#000;
    background:#fff;
    text-align: left;
    width:80%;
    height:600px;
    padding:30px 50px 30px 50px;
    overflow: hidden;
    border-radius:5px;
    z-index: 5;
    box-shadow:0 8px 12px 0 black;
    animation: slideInFromLeft 5s linear; 
  }

  .header ul nav a{
    color:#000;
  }

  .header ul nav li{
    padding:10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin:0;
  }


  .header .navbar ul li ul{
    display:block;
    position: absolute;
    margin:350px 0px 0 0px;
    background-color: lightgray;
    font-size:18px;
    font-weight:500;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width:75%;
    border-radius:5px;
    box-shadow: none;
  }

  .small{
    position: relative;
    margin:300px 0 0 0;
    color:#000;
    display: flex;
    flex-direction: column;
  }

  .header .navbar .small button{
    color:#000;
    font-size:20px;
    font-weight:400;
    background:hsl(356, 100%, 66%);
    padding:10px 30px;
  }

  .header .navbar .small button:first-child{
    color:#000;
  }

  .header{
    background-size: 350%;
    background-position: center;
  }

  .header .navbar ul{
    justify-content:space-between;
    /* border:2px solid black; */
    margin:0;
    width:100%;
    padding:0 30px;
  }

  .hamburger,
  .mobile-editor,
  .circle,
  .mobile,
  .dark,
  .small{
    display: flex;
  }

  .header h3{
    font-size:35px;
    font-weight:500;
    padding:50px 30px;
    max-width: 375px;
  }

  .header p{
    padding:30px;
    line-height: 2rem;
  }
  
  article h3{
    top:0;
    margin:0 0 50px;
  }

  article section{
    flex-direction:column-reverse;
    margin:20px 25px;
    
  }

  article section img{
    right:0;
    left:0;
  }

  article section div{
    left:0;
    text-align:center;
    line-height:2rem;
  }
  
  article section div .divh4{
    margin:20px 20px 0;
  }
  article section div p{
    font-size:17px;
    font-weight:400;
  }

  article section div p:last-child{
    padding:0 0 200px;
  }

  .article{
    flex-direction: row;
  }

  .article section{
    padding:250px 20px 50px;
    /* border:2px solid black; */
    text-align: center;
    overflow-x: hidden;
    width:fit-content;
  }

  .article img{
    left:0px;
    top:1650px;
    width:100%;
  }

  .article .circle{
    top:1600px;
    right:120px;
    width:160%;
    overflow-x: hidden;
    width:fit-content;
    display: none;
  }

  .article section h3{
    position: relative;
    z-index: 4;
  }

  .article section p{
    line-height: 2.5rem;
  }

  .section{
    flex-direction: column;
  }

  .section img{
    left:0;
  }

  .section .container{
    left:0;
    right:0;
    padding:30px 20px 20px;
    text-align: center;
  }

  .section .container p{
    font-size:16px;
    padding:30px 20px;
  }

  footer{
    flex-direction:column;
    text-align: center;
    padding:70px 0;
  }

  footer img{
    margin:0 0 30px;
  }

  footer h5{
    margin:30px 0;
    font-weight: 700;
  }

  
}


@keyframes slideInFromLeft{
  0%{
    transform: translateX(-100%)
  }
  100%{
    transform: translateX(0)
  }
}